name: Sprint5 Full Automation

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0
          
      - name: Terraform Apply
        run: |
          cd infra
          terraform init
          terraform apply -auto-approve

      - name: Configurar EC2 com Ansible
        run: |
          cd ansible
          ansible-playbook -i inventory.ini setup.yml

      - name: Executar pipeline de dados
        run: |
          python scripts/data_pipeline.py
